.dropdown-toggle::after {
    display: none;
}

.btn-link {
    color: black;
}

.card-body {
    height: 150px;
    overflow-y: auto;
}

.main-content {
    flex: 1;
    // background: #f8f9fa;
}

/* Navbar styling suggestions for app-nav-bar component */
::ng-deep app-nav-bar {
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: block;
}

.hover-effect {
    transition: all 0.3s ease;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        background-color: var(--bs-card-cap-bg); // Light gray background on hover
    }
}

.margin-top-custom {
    margin-top: 60px !important;
}

.dasboard-profile-image {
    width: 100px;
    height: 100px;
    margin-top: -90px;
}