.card {
    border-radius: 15px;
    /* Smooth edges */
}

.card-body {
    padding: 2rem;
}

.text-primary {
    font-weight: bold;
    color: #FF6767 !important;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}